.droppableFrame {
    position: absolute;
    width: 90px!;
    height: 90px!;
    background: #fff;
    opacity: 0.5;
    display: flex;
    align-items: center;
    justify-content: center;
}
